openapi: 3.0.0
info:
  title: Gmail API
  description: The Gmail API lets you view and manage Gmail mailbox data like
    threads, messages, and labels.
  version: v1
  contact:
    url: https://developers.google.com/gmail/api/
servers:
  - url: https://gmail.googleapis.com/
    description: Production server
paths:
  /gmail/v1/users/{userId}/profile:
    get:
      operationId: users.gmail.users.getProfile
      description: Gets the current user's Gmail profile.
      parameters:
        - name: userId
          in: path
          description: The user's email address. The special value `me` can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Profile"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.compose
            - https://www.googleapis.com/auth/gmail.metadata
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
  /gmail/v1/users/{userId}/watch:
    post:
      operationId: users.gmail.users.watch
      description: Set up or update a push notification watch on the given user mailbox.
      parameters:
        - name: userId
          in: path
          description: The user's email address. The special value `me` can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WatchResponse"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.metadata
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WatchRequest"
        required: true
  /gmail/v1/users/{userId}/stop:
    post:
      operationId: users.gmail.users.stop
      description: Stop receiving push notifications for the given user mailbox.
      parameters:
        - name: userId
          in: path
          description: The user's email address. The special value `me` can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
      responses:
        "200":
          description: Successful response
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.metadata
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
  /gmail/v1/users/{userId}/drafts/{id}:
    delete:
      operationId: users.drafts.gmail.users.drafts.delete
      description: Immediately and permanently deletes the specified draft. Does not
        simply trash it.
      parameters:
        - name: userId
          in: path
          description: The user's email address. The special value `me` can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
        - name: id
          in: path
          description: The ID of the draft to delete.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.addons.current.action.compose
            - https://www.googleapis.com/auth/gmail.compose
            - https://www.googleapis.com/auth/gmail.modify
    get:
      operationId: users.drafts.gmail.users.drafts.get
      description: Gets the specified draft.
      parameters:
        - name: userId
          in: path
          description: The user's email address. The special value `me` can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
        - name: id
          in: path
          description: The ID of the draft to retrieve.
          required: true
          schema:
            type: string
        - name: format
          in: query
          description: The format to return the draft in.
          schema:
            type: string
            default: full
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Draft"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.compose
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
    put:
      operationId: users.drafts.gmail.users.drafts.update
      description: Replaces a draft's content.
      parameters:
        - name: userId
          in: path
          description: The user's email address. The special value `me` can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
        - name: id
          in: path
          description: The ID of the draft to update.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Draft"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.addons.current.action.compose
            - https://www.googleapis.com/auth/gmail.compose
            - https://www.googleapis.com/auth/gmail.modify
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Draft"
        required: true
  /gmail/v1/users/{userId}/drafts:
    post:
      operationId: users.drafts.gmail.users.drafts.create
      description: Creates a new draft with the `DRAFT` label.
      parameters:
        - name: userId
          in: path
          description: The user's email address. The special value `me` can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Draft"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.addons.current.action.compose
            - https://www.googleapis.com/auth/gmail.compose
            - https://www.googleapis.com/auth/gmail.modify
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Draft"
        required: true
    get:
      operationId: users.drafts.gmail.users.drafts.list
      description: Lists the drafts in the user's mailbox.
      parameters:
        - name: userId
          in: path
          description: The user's email address. The special value `me` can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
        - name: maxResults
          in: query
          description: Maximum number of drafts to return. This field defaults to 100. The
            maximum allowed value for this field is 500.
          schema:
            type: integer
            default: "100"
        - name: pageToken
          in: query
          description: Page token to retrieve a specific page of results in the list.
          schema:
            type: string
        - name: q
          in: query
          description: 'Only return draft messages matching the specified query. Supports
            the same query format as the Gmail search box. For example,
            `"from:someuser@example.com rfc822msgid: is:unread"`.'
          schema:
            type: string
        - name: includeSpamTrash
          in: query
          description: Include drafts from `SPAM` and `TRASH` in the results.
          schema:
            type: boolean
            default: "false"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListDraftsResponse"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.compose
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
  /gmail/v1/users/{userId}/drafts/send:
    post:
      operationId: users.drafts.gmail.users.drafts.send
      description: Sends the specified, existing draft to the recipients in the `To`,
        `Cc`, and `Bcc` headers.
      parameters:
        - name: userId
          in: path
          description: The user's email address. The special value `me` can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.addons.current.action.compose
            - https://www.googleapis.com/auth/gmail.compose
            - https://www.googleapis.com/auth/gmail.modify
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Draft"
        required: true
  /gmail/v1/users/{userId}/history:
    get:
      operationId: users.history.gmail.users.history.list
      description: Lists the history of all changes to the given mailbox. History
        results are returned in chronological order (increasing `historyId`).
      parameters:
        - name: userId
          in: path
          description: The user's email address. The special value `me` can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
        - name: maxResults
          in: query
          description: Maximum number of history records to return. This field defaults to
            100. The maximum allowed value for this field is 500.
          schema:
            type: integer
            default: "100"
        - name: pageToken
          in: query
          description: Page token to retrieve a specific page of results in the list.
          schema:
            type: string
        - name: startHistoryId
          in: query
          description: Required. Returns history records after the specified
            `startHistoryId`. The supplied `startHistoryId` should be obtained
            from the `historyId` of a message, thread, or previous `list`
            response. History IDs increase chronologically but are not
            contiguous with random gaps in between valid IDs. Supplying an
            invalid or out of date `startHistoryId` typically returns an `HTTP
            404` error code. A `historyId` is typically valid for at least a
            week, but in some rare circumstances may be valid for only a few
            hours. If you receive an `HTTP 404` error response, your application
            should perform a full sync. If you receive no `nextPageToken` in the
            response, there are no updates to retrieve and you can store the
            returned `historyId` for a future request.
          schema:
            type: string
        - name: labelId
          in: query
          description: Only return messages with a label matching the ID.
          schema:
            type: string
        - name: historyTypes
          in: query
          description: History types to be returned by the function
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListHistoryResponse"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.metadata
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
  /gmail/v1/users/{userId}/messages/{id}/trash:
    post:
      operationId: users.messages.gmail.users.messages.trash
      description: Moves the specified message to the trash.
      parameters:
        - name: userId
          in: path
          description: The user's email address. The special value `me` can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
        - name: id
          in: path
          description: The ID of the message to Trash.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.modify
  /gmail/v1/users/{userId}/messages/{id}/untrash:
    post:
      operationId: users.messages.gmail.users.messages.untrash
      description: Removes the specified message from the trash.
      parameters:
        - name: userId
          in: path
          description: The user's email address. The special value `me` can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
        - name: id
          in: path
          description: The ID of the message to remove from Trash.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.modify
  /gmail/v1/users/{userId}/messages/{id}:
    delete:
      operationId: users.messages.gmail.users.messages.delete
      description: Immediately and permanently deletes the specified message. This
        operation cannot be undone. Prefer `messages.trash` instead.
      parameters:
        - name: userId
          in: path
          description: The user's email address. The special value `me` can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
        - name: id
          in: path
          description: The ID of the message to delete.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
    get:
      operationId: users.messages.gmail.users.messages.get
      description: Gets the specified message.
      parameters:
        - name: userId
          in: path
          description: The user's email address. The special value `me` can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
        - name: id
          in: path
          description: The ID of the message to retrieve. This ID is usually retrieved
            using `messages.list`. The ID is also contained in the result when a
            message is inserted (`messages.insert`) or imported
            (`messages.import`).
          required: true
          schema:
            type: string
        - name: format
          in: query
          description: The format to return the message in.
          schema:
            type: string
            default: full
        - name: metadataHeaders
          in: query
          description: When given and format is `METADATA`, only include headers specified.
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.addons.current.message.action
            - https://www.googleapis.com/auth/gmail.addons.current.message.metadata
            - https://www.googleapis.com/auth/gmail.addons.current.message.readonly
            - https://www.googleapis.com/auth/gmail.metadata
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
  /gmail/v1/users/{userId}/messages/batchDelete:
    post:
      operationId: users.messages.gmail.users.messages.batchDelete
      description: Deletes many messages by message ID. Provides no guarantees that
        messages were not already deleted or even existed at all.
      parameters:
        - name: userId
          in: path
          description: The user's email address. The special value `me` can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
      responses:
        "200":
          description: Successful response
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchDeleteMessagesRequest"
        required: true
  /gmail/v1/users/{userId}/messages/import:
    post:
      operationId: users.messages.gmail.users.messages.import
      description: Imports a message into only this user's mailbox, with standard
        email delivery scanning and classification similar to receiving via
        SMTP. This method doesn't perform SPF checks, so it might not work for
        some spam messages, such as those attempting to perform domain spoofing.
        This method does not send a message.
      parameters:
        - name: userId
          in: path
          description: The user's email address. The special value `me` can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
        - name: internalDateSource
          in: query
          description: Source for Gmail's internal date of the message.
          schema:
            type: string
            default: dateHeader
        - name: neverMarkSpam
          in: query
          description: Ignore the Gmail spam classifier decision and never mark this email
            as SPAM in the mailbox.
          schema:
            type: boolean
            default: "false"
        - name: processForCalendar
          in: query
          description: Process calendar invites in the email and add any extracted
            meetings to the Google Calendar for this user.
          schema:
            type: boolean
            default: "false"
        - name: deleted
          in: query
          description: Mark the email as permanently deleted (not TRASH) and only visible
            in Google Vault to a Vault administrator. Only used for Google
            Workspace accounts.
          schema:
            type: boolean
            default: "false"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.insert
            - https://www.googleapis.com/auth/gmail.modify
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Message"
        required: true
  /gmail/v1/users/{userId}/messages:
    post:
      operationId: users.messages.gmail.users.messages.insert
      description: Directly inserts a message into only this user's mailbox similar to
        `IMAP APPEND`, bypassing most scanning and classification. Does not send
        a message.
      parameters:
        - name: userId
          in: path
          description: The user's email address. The special value `me` can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
        - name: internalDateSource
          in: query
          description: Source for Gmail's internal date of the message.
          schema:
            type: string
            default: receivedTime
        - name: deleted
          in: query
          description: Mark the email as permanently deleted (not TRASH) and only visible
            in Google Vault to a Vault administrator. Only used for Google
            Workspace accounts.
          schema:
            type: boolean
            default: "false"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.insert
            - https://www.googleapis.com/auth/gmail.modify
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Message"
        required: true
    get:
      operationId: users.messages.gmail.users.messages.list
      description: Lists the messages in the user's mailbox.
      parameters:
        - name: userId
          in: path
          description: The user's email address. The special value `me` can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
        - name: maxResults
          in: query
          description: Maximum number of messages to return. This field defaults to 100.
            The maximum allowed value for this field is 500.
          schema:
            type: integer
            default: "100"
        - name: pageToken
          in: query
          description: Page token to retrieve a specific page of results in the list.
          schema:
            type: string
        - name: q
          in: query
          description: 'Only return messages matching the specified query. Supports the
            same query format as the Gmail search box. For example,
            `"from:someuser@example.com rfc822msgid: is:unread"`. Parameter
            cannot be used when accessing the api using the gmail.metadata
            scope.'
          schema:
            type: string
        - name: labelIds
          in: query
          description: Only return messages with labels that match all of the specified
            label IDs. Messages in a thread might have labels that other
            messages in the same thread don't have. To learn more, see [Manage
            labels on messages and
            threads](https://developers.google.com/gmail/api/guides/labels#manage_labels_on_messages_threads).
          schema:
            type: string
        - name: includeSpamTrash
          in: query
          description: Include messages from `SPAM` and `TRASH` in the results.
          schema:
            type: boolean
            default: "false"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMessagesResponse"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.metadata
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
  /gmail/v1/users/{userId}/messages/send:
    post:
      operationId: users.messages.gmail.users.messages.send
      description: Sends the specified message to the recipients in the `To`, `Cc`,
        and `Bcc` headers. For example usage, see [Sending
        email](https://developers.google.com/gmail/api/guides/sending).
      parameters:
        - name: userId
          in: path
          description: The user's email address. The special value `me` can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.addons.current.action.compose
            - https://www.googleapis.com/auth/gmail.compose
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.send
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Message"
        required: true
  /gmail/v1/users/{userId}/messages/{id}/modify:
    post:
      operationId: users.messages.gmail.users.messages.modify
      description: Modifies the labels on the specified message.
      parameters:
        - name: userId
          in: path
          description: The user's email address. The special value `me` can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
        - name: id
          in: path
          description: The ID of the message to modify.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.modify
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ModifyMessageRequest"
        required: true
  /gmail/v1/users/{userId}/messages/batchModify:
    post:
      operationId: users.messages.gmail.users.messages.batchModify
      description: Modifies the labels on the specified messages.
      parameters:
        - name: userId
          in: path
          description: The user's email address. The special value `me` can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
      responses:
        "200":
          description: Successful response
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.modify
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchModifyMessagesRequest"
        required: true
  /gmail/v1/users/{userId}/messages/{messageId}/attachments/{id}:
    get:
      operationId: users.messages.attachments.gmail.users.messages.attachments.get
      description: Gets the specified message attachment.
      parameters:
        - name: userId
          in: path
          description: The user's email address. The special value `me` can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
        - name: messageId
          in: path
          description: The ID of the message containing the attachment.
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: The ID of the attachment.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessagePartBody"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.addons.current.message.action
            - https://www.googleapis.com/auth/gmail.addons.current.message.readonly
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
  /gmail/v1/users/{userId}/labels:
    post:
      operationId: users.labels.gmail.users.labels.create
      description: Creates a new label.
      parameters:
        - name: userId
          in: path
          description: The user's email address. The special value `me` can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Label"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.labels
            - https://www.googleapis.com/auth/gmail.modify
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Label"
        required: true
    get:
      operationId: users.labels.gmail.users.labels.list
      description: Lists all labels in the user's mailbox.
      parameters:
        - name: userId
          in: path
          description: The user's email address. The special value `me` can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListLabelsResponse"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.labels
            - https://www.googleapis.com/auth/gmail.metadata
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
  /gmail/v1/users/{userId}/labels/{id}:
    delete:
      operationId: users.labels.gmail.users.labels.delete
      description: Immediately and permanently deletes the specified label and removes
        it from any messages and threads that it is applied to.
      parameters:
        - name: userId
          in: path
          description: The user's email address. The special value `me` can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
        - name: id
          in: path
          description: The ID of the label to delete.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.labels
            - https://www.googleapis.com/auth/gmail.modify
    get:
      operationId: users.labels.gmail.users.labels.get
      description: Gets the specified label.
      parameters:
        - name: userId
          in: path
          description: The user's email address. The special value `me` can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
        - name: id
          in: path
          description: The ID of the label to retrieve.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Label"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.labels
            - https://www.googleapis.com/auth/gmail.metadata
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
    put:
      operationId: users.labels.gmail.users.labels.update
      description: Updates the specified label.
      parameters:
        - name: userId
          in: path
          description: The user's email address. The special value `me` can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
        - name: id
          in: path
          description: The ID of the label to update.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Label"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.labels
            - https://www.googleapis.com/auth/gmail.modify
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Label"
        required: true
    patch:
      operationId: users.labels.gmail.users.labels.patch
      description: Patch the specified label.
      parameters:
        - name: userId
          in: path
          description: The user's email address. The special value `me` can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
        - name: id
          in: path
          description: The ID of the label to update.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Label"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.labels
            - https://www.googleapis.com/auth/gmail.modify
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Label"
        required: true
  /gmail/v1/users/{userId}/threads/{id}/trash:
    post:
      operationId: users.threads.gmail.users.threads.trash
      description: Moves the specified thread to the trash. Any messages that belong
        to the thread are also moved to the trash.
      parameters:
        - name: userId
          in: path
          description: The user's email address. The special value `me` can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
        - name: id
          in: path
          description: The ID of the thread to Trash.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Thread"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.modify
  /gmail/v1/users/{userId}/threads/{id}/untrash:
    post:
      operationId: users.threads.gmail.users.threads.untrash
      description: Removes the specified thread from the trash. Any messages that
        belong to the thread are also removed from the trash.
      parameters:
        - name: userId
          in: path
          description: The user's email address. The special value `me` can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
        - name: id
          in: path
          description: The ID of the thread to remove from Trash.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Thread"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.modify
  /gmail/v1/users/{userId}/threads/{id}:
    delete:
      operationId: users.threads.gmail.users.threads.delete
      description: Immediately and permanently deletes the specified thread. Any
        messages that belong to the thread are also deleted. This operation
        cannot be undone. Prefer `threads.trash` instead.
      parameters:
        - name: userId
          in: path
          description: The user's email address. The special value `me` can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
        - name: id
          in: path
          description: ID of the Thread to delete.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
    get:
      operationId: users.threads.gmail.users.threads.get
      description: Gets the specified thread.
      parameters:
        - name: userId
          in: path
          description: The user's email address. The special value `me` can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
        - name: id
          in: path
          description: The ID of the thread to retrieve.
          required: true
          schema:
            type: string
        - name: format
          in: query
          description: The format to return the messages in.
          schema:
            type: string
            default: full
        - name: metadataHeaders
          in: query
          description: When given and format is METADATA, only include headers specified.
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Thread"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.addons.current.message.action
            - https://www.googleapis.com/auth/gmail.addons.current.message.metadata
            - https://www.googleapis.com/auth/gmail.addons.current.message.readonly
            - https://www.googleapis.com/auth/gmail.metadata
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
  /gmail/v1/users/{userId}/threads:
    get:
      operationId: users.threads.gmail.users.threads.list
      description: Lists the threads in the user's mailbox.
      parameters:
        - name: userId
          in: path
          description: The user's email address. The special value `me` can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
        - name: maxResults
          in: query
          description: Maximum number of threads to return. This field defaults to 100.
            The maximum allowed value for this field is 500.
          schema:
            type: integer
            default: "100"
        - name: pageToken
          in: query
          description: Page token to retrieve a specific page of results in the list.
          schema:
            type: string
        - name: q
          in: query
          description: 'Only return threads matching the specified query. Supports the
            same query format as the Gmail search box. For example,
            `"from:someuser@example.com rfc822msgid: is:unread"`. Parameter
            cannot be used when accessing the api using the gmail.metadata
            scope.'
          schema:
            type: string
        - name: labelIds
          in: query
          description: Only return threads with labels that match all of the specified
            label IDs.
          schema:
            type: string
        - name: includeSpamTrash
          in: query
          description: Include threads from `SPAM` and `TRASH` in the results.
          schema:
            type: boolean
            default: "false"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListThreadsResponse"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.metadata
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
  /gmail/v1/users/{userId}/threads/{id}/modify:
    post:
      operationId: users.threads.gmail.users.threads.modify
      description: Modifies the labels applied to the thread. This applies to all
        messages in the thread.
      parameters:
        - name: userId
          in: path
          description: The user's email address. The special value `me` can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
        - name: id
          in: path
          description: The ID of the thread to modify.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Thread"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.modify
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ModifyThreadRequest"
        required: true
  /gmail/v1/users/{userId}/settings/imap:
    get:
      operationId: users.settings.gmail.users.settings.getImap
      description: Gets IMAP settings.
      parameters:
        - name: userId
          in: path
          description: User's email address. The special value "me" can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImapSettings"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
            - https://www.googleapis.com/auth/gmail.settings.basic
    put:
      operationId: users.settings.gmail.users.settings.updateImap
      description: Updates IMAP settings.
      parameters:
        - name: userId
          in: path
          description: User's email address. The special value "me" can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImapSettings"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://www.googleapis.com/auth/gmail.settings.basic
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImapSettings"
        required: true
  /gmail/v1/users/{userId}/settings/pop:
    get:
      operationId: users.settings.gmail.users.settings.getPop
      description: Gets POP settings.
      parameters:
        - name: userId
          in: path
          description: User's email address. The special value "me" can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PopSettings"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
            - https://www.googleapis.com/auth/gmail.settings.basic
    put:
      operationId: users.settings.gmail.users.settings.updatePop
      description: Updates POP settings.
      parameters:
        - name: userId
          in: path
          description: User's email address. The special value "me" can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PopSettings"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://www.googleapis.com/auth/gmail.settings.basic
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PopSettings"
        required: true
  /gmail/v1/users/{userId}/settings/vacation:
    get:
      operationId: users.settings.gmail.users.settings.getVacation
      description: Gets vacation responder settings.
      parameters:
        - name: userId
          in: path
          description: User's email address. The special value "me" can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VacationSettings"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
            - https://www.googleapis.com/auth/gmail.settings.basic
    put:
      operationId: users.settings.gmail.users.settings.updateVacation
      description: Updates vacation responder settings.
      parameters:
        - name: userId
          in: path
          description: User's email address. The special value "me" can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VacationSettings"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://www.googleapis.com/auth/gmail.settings.basic
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VacationSettings"
        required: true
  /gmail/v1/users/{userId}/settings/language:
    get:
      operationId: users.settings.gmail.users.settings.getLanguage
      description: Gets language settings.
      parameters:
        - name: userId
          in: path
          description: User's email address. The special value "me" can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LanguageSettings"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
            - https://www.googleapis.com/auth/gmail.settings.basic
    put:
      operationId: users.settings.gmail.users.settings.updateLanguage
      description: Updates language settings. If successful, the return object
        contains the `displayLanguage` that was saved for the user, which may
        differ from the value passed into the request. This is because the
        requested `displayLanguage` may not be directly supported by Gmail but
        have a close variant that is, and so the variant may be chosen and saved
        instead.
      parameters:
        - name: userId
          in: path
          description: User's email address. The special value "me" can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LanguageSettings"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://www.googleapis.com/auth/gmail.settings.basic
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LanguageSettings"
        required: true
  /gmail/v1/users/{userId}/settings/autoForwarding:
    get:
      operationId: users.settings.gmail.users.settings.getAutoForwarding
      description: Gets the auto-forwarding setting for the specified account.
      parameters:
        - name: userId
          in: path
          description: User's email address. The special value "me" can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutoForwarding"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
            - https://www.googleapis.com/auth/gmail.settings.basic
    put:
      operationId: users.settings.gmail.users.settings.updateAutoForwarding
      description: Updates the auto-forwarding setting for the specified account. A
        verified forwarding address must be specified when auto-forwarding is
        enabled. This method is only available to service account clients that
        have been delegated domain-wide authority.
      parameters:
        - name: userId
          in: path
          description: User's email address. The special value "me" can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutoForwarding"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://www.googleapis.com/auth/gmail.settings.sharing
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AutoForwarding"
        required: true
  /gmail/v1/users/{userId}/settings/sendAs:
    get:
      operationId: users.settings.sendAs.gmail.users.settings.sendAs.list
      description: Lists the send-as aliases for the specified account. The result
        includes the primary send-as address associated with the account as well
        as any custom "from" aliases.
      parameters:
        - name: userId
          in: path
          description: User's email address. The special value "me" can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSendAsResponse"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
            - https://www.googleapis.com/auth/gmail.settings.basic
    post:
      operationId: users.settings.sendAs.gmail.users.settings.sendAs.create
      description: Creates a custom "from" send-as alias. If an SMTP MSA is specified,
        Gmail will attempt to connect to the SMTP service to validate the
        configuration before creating the alias. If ownership verification is
        required for the alias, a message will be sent to the email address and
        the resource's verification status will be set to `pending`; otherwise,
        the resource will be created with verification status set to `accepted`.
        If a signature is provided, Gmail will sanitize the HTML before saving
        it with the alias. This method is only available to service account
        clients that have been delegated domain-wide authority.
      parameters:
        - name: userId
          in: path
          description: User's email address. The special value "me" can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendAs"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://www.googleapis.com/auth/gmail.settings.sharing
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendAs"
        required: true
  /gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}:
    get:
      operationId: users.settings.sendAs.gmail.users.settings.sendAs.get
      description: Gets the specified send-as alias. Fails with an HTTP 404 error if
        the specified address is not a member of the collection.
      parameters:
        - name: userId
          in: path
          description: User's email address. The special value "me" can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
        - name: sendAsEmail
          in: path
          description: The send-as alias to be retrieved.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendAs"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
            - https://www.googleapis.com/auth/gmail.settings.basic
    put:
      operationId: users.settings.sendAs.gmail.users.settings.sendAs.update
      description: Updates a send-as alias. If a signature is provided, Gmail will
        sanitize the HTML before saving it with the alias. Addresses other than
        the primary address for the account can only be updated by service
        account clients that have been delegated domain-wide authority.
      parameters:
        - name: userId
          in: path
          description: User's email address. The special value "me" can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
        - name: sendAsEmail
          in: path
          description: The send-as alias to be updated.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendAs"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://www.googleapis.com/auth/gmail.settings.basic
            - https://www.googleapis.com/auth/gmail.settings.sharing
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendAs"
        required: true
    patch:
      operationId: users.settings.sendAs.gmail.users.settings.sendAs.patch
      description: Patch the specified send-as alias.
      parameters:
        - name: userId
          in: path
          description: User's email address. The special value "me" can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
        - name: sendAsEmail
          in: path
          description: The send-as alias to be updated.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendAs"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://www.googleapis.com/auth/gmail.settings.basic
            - https://www.googleapis.com/auth/gmail.settings.sharing
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendAs"
        required: true
    delete:
      operationId: users.settings.sendAs.gmail.users.settings.sendAs.delete
      description: Deletes the specified send-as alias. Revokes any verification that
        may have been required for using it. This method is only available to
        service account clients that have been delegated domain-wide authority.
      parameters:
        - name: userId
          in: path
          description: User's email address. The special value "me" can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
        - name: sendAsEmail
          in: path
          description: The send-as alias to be deleted.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://www.googleapis.com/auth/gmail.settings.sharing
  /gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/verify:
    post:
      operationId: users.settings.sendAs.gmail.users.settings.sendAs.verify
      description: Sends a verification email to the specified send-as alias address.
        The verification status must be `pending`. This method is only available
        to service account clients that have been delegated domain-wide
        authority.
      parameters:
        - name: userId
          in: path
          description: User's email address. The special value "me" can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
        - name: sendAsEmail
          in: path
          description: The send-as alias to be verified.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://www.googleapis.com/auth/gmail.settings.sharing
  /gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo:
    get:
      operationId: users.settings.sendAs.smimeInfo.gmail.users.settings.sendAs.smimeInfo.list
      description: Lists S/MIME configs for the specified send-as alias.
      parameters:
        - name: userId
          in: path
          description: The user's email address. The special value `me` can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
        - name: sendAsEmail
          in: path
          description: The email address that appears in the "From:" header for mail sent
            using this alias.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSmimeInfoResponse"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
            - https://www.googleapis.com/auth/gmail.settings.basic
            - https://www.googleapis.com/auth/gmail.settings.sharing
    post:
      operationId: users.settings.sendAs.smimeInfo.gmail.users.settings.sendAs.smimeInfo.insert
      description: Insert (upload) the given S/MIME config for the specified send-as
        alias. Note that pkcs12 format is required for the key.
      parameters:
        - name: userId
          in: path
          description: The user's email address. The special value `me` can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
        - name: sendAsEmail
          in: path
          description: The email address that appears in the "From:" header for mail sent
            using this alias.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SmimeInfo"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://www.googleapis.com/auth/gmail.settings.basic
            - https://www.googleapis.com/auth/gmail.settings.sharing
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SmimeInfo"
        required: true
  /gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}:
    get:
      operationId: users.settings.sendAs.smimeInfo.gmail.users.settings.sendAs.smimeInfo.get
      description: Gets the specified S/MIME config for the specified send-as alias.
      parameters:
        - name: userId
          in: path
          description: The user's email address. The special value `me` can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
        - name: sendAsEmail
          in: path
          description: The email address that appears in the "From:" header for mail sent
            using this alias.
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: The immutable ID for the SmimeInfo.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SmimeInfo"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
            - https://www.googleapis.com/auth/gmail.settings.basic
            - https://www.googleapis.com/auth/gmail.settings.sharing
    delete:
      operationId: users.settings.sendAs.smimeInfo.gmail.users.settings.sendAs.smimeInfo.delete
      description: Deletes the specified S/MIME config for the specified send-as alias.
      parameters:
        - name: userId
          in: path
          description: The user's email address. The special value `me` can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
        - name: sendAsEmail
          in: path
          description: The email address that appears in the "From:" header for mail sent
            using this alias.
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: The immutable ID for the SmimeInfo.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://www.googleapis.com/auth/gmail.settings.basic
            - https://www.googleapis.com/auth/gmail.settings.sharing
  /gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}/setDefault:
    post:
      operationId: users.settings.sendAs.smimeInfo.gmail.users.settings.sendAs.smimeInfo.setDefault
      description: Sets the default S/MIME config for the specified send-as alias.
      parameters:
        - name: userId
          in: path
          description: The user's email address. The special value `me` can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
        - name: sendAsEmail
          in: path
          description: The email address that appears in the "From:" header for mail sent
            using this alias.
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: The immutable ID for the SmimeInfo.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://www.googleapis.com/auth/gmail.settings.basic
            - https://www.googleapis.com/auth/gmail.settings.sharing
  /gmail/v1/users/{userId}/settings/cse/identities:
    post:
      operationId: users.settings.cse.identities.gmail.users.settings.cse.identities.create
      description: Creates and configures a client-side encryption identity that's
        authorized to send mail from the user account. Google publishes the
        S/MIME certificate to a shared domain-wide directory so that people
        within a Google Workspace organization can encrypt and send mail to the
        identity.
      parameters:
        - name: userId
          in: path
          description: The requester's primary email address. To indicate the
            authenticated user, you can use the special value `me`.
          required: true
          schema:
            type: string
            default: me
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CseIdentity"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://www.googleapis.com/auth/gmail.settings.basic
            - https://www.googleapis.com/auth/gmail.settings.sharing
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CseIdentity"
        required: true
    get:
      operationId: users.settings.cse.identities.gmail.users.settings.cse.identities.list
      description: Lists the client-side encrypted identities for an authenticated user.
      parameters:
        - name: userId
          in: path
          description: The requester's primary email address. To indicate the
            authenticated user, you can use the special value `me`.
          required: true
          schema:
            type: string
            default: me
        - name: pageToken
          in: query
          description: Pagination token indicating which page of identities to return. If
            the token is not supplied, then the API will return the first page
            of results.
          schema:
            type: string
        - name: pageSize
          in: query
          description: The number of identities to return. If not provided, the page size
            will default to 20 entries.
          schema:
            type: integer
            default: "20"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCseIdentitiesResponse"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
            - https://www.googleapis.com/auth/gmail.settings.basic
            - https://www.googleapis.com/auth/gmail.settings.sharing
  /gmail/v1/users/{userId}/settings/cse/identities/{cseEmailAddress}:
    delete:
      operationId: users.settings.cse.identities.gmail.users.settings.cse.identities.delete
      description: Deletes a client-side encryption identity. The authenticated user
        can no longer use the identity to send encrypted messages. You cannot
        restore the identity after you delete it. Instead, use the
        CreateCseIdentity method to create another identity with the same
        configuration.
      parameters:
        - name: userId
          in: path
          description: The requester's primary email address. To indicate the
            authenticated user, you can use the special value `me`.
          required: true
          schema:
            type: string
            default: me
        - name: cseEmailAddress
          in: path
          description: The primary email address associated with the client-side
            encryption identity configuration that's removed.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://www.googleapis.com/auth/gmail.settings.basic
            - https://www.googleapis.com/auth/gmail.settings.sharing
    get:
      operationId: users.settings.cse.identities.gmail.users.settings.cse.identities.get
      description: Retrieves a client-side encryption identity configuration.
      parameters:
        - name: userId
          in: path
          description: The requester's primary email address. To indicate the
            authenticated user, you can use the special value `me`.
          required: true
          schema:
            type: string
            default: me
        - name: cseEmailAddress
          in: path
          description: The primary email address associated with the client-side
            encryption identity configuration that's retrieved.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CseIdentity"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
            - https://www.googleapis.com/auth/gmail.settings.basic
            - https://www.googleapis.com/auth/gmail.settings.sharing
  /gmail/v1/users/{userId}/settings/cse/identities/{emailAddress}:
    patch:
      operationId: users.settings.cse.identities.gmail.users.settings.cse.identities.patch
      description: Associates a different key pair with an existing client-side
        encryption identity. The updated key pair must validate against Google's
        [S/MIME certificate
        profiles](https://support.google.com/a/answer/7300887).
      parameters:
        - name: userId
          in: path
          description: The requester's primary email address. To indicate the
            authenticated user, you can use the special value `me`.
          required: true
          schema:
            type: string
            default: me
        - name: emailAddress
          in: path
          description: The email address of the client-side encryption identity to update.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CseIdentity"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://www.googleapis.com/auth/gmail.settings.basic
            - https://www.googleapis.com/auth/gmail.settings.sharing
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CseIdentity"
        required: true
  /gmail/v1/users/{userId}/settings/cse/keypairs:
    post:
      operationId: users.settings.cse.keypairs.gmail.users.settings.cse.keypairs.create
      description: Creates and uploads a client-side encryption S/MIME public key
        certificate chain and private key metadata for the authenticated user.
      parameters:
        - name: userId
          in: path
          description: The requester's primary email address. To indicate the
            authenticated user, you can use the special value `me`.
          required: true
          schema:
            type: string
            default: me
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CseKeyPair"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://www.googleapis.com/auth/gmail.settings.basic
            - https://www.googleapis.com/auth/gmail.settings.sharing
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CseKeyPair"
        required: true
    get:
      operationId: users.settings.cse.keypairs.gmail.users.settings.cse.keypairs.list
      description: Lists client-side encryption key pairs for an authenticated user.
      parameters:
        - name: userId
          in: path
          description: The requester's primary email address. To indicate the
            authenticated user, you can use the special value `me`.
          required: true
          schema:
            type: string
            default: me
        - name: pageToken
          in: query
          description: Pagination token indicating which page of key pairs to return. If
            the token is not supplied, then the API will return the first page
            of results.
          schema:
            type: string
        - name: pageSize
          in: query
          description: The number of key pairs to return. If not provided, the page size
            will default to 20 entries.
          schema:
            type: integer
            default: "20"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCseKeyPairsResponse"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
            - https://www.googleapis.com/auth/gmail.settings.basic
            - https://www.googleapis.com/auth/gmail.settings.sharing
  /gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:disable:
    post:
      operationId: users.settings.cse.keypairs.gmail.users.settings.cse.keypairs.disable
      description: Turns off a client-side encryption key pair. The authenticated user
        can no longer use the key pair to decrypt incoming CSE message texts or
        sign outgoing CSE mail. To regain access, use the EnableCseKeyPair to
        turn on the key pair. After 30 days, you can permanently delete the key
        pair by using the ObliterateCseKeyPair method.
      parameters:
        - name: userId
          in: path
          description: The requester's primary email address. To indicate the
            authenticated user, you can use the special value `me`.
          required: true
          schema:
            type: string
            default: me
        - name: keyPairId
          in: path
          description: The identifier of the key pair to turn off.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CseKeyPair"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://www.googleapis.com/auth/gmail.settings.basic
            - https://www.googleapis.com/auth/gmail.settings.sharing
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DisableCseKeyPairRequest"
        required: true
  /gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:enable:
    post:
      operationId: users.settings.cse.keypairs.gmail.users.settings.cse.keypairs.enable
      description: Turns on a client-side encryption key pair that was turned off. The
        key pair becomes active again for any associated client-side encryption
        identities.
      parameters:
        - name: userId
          in: path
          description: The requester's primary email address. To indicate the
            authenticated user, you can use the special value `me`.
          required: true
          schema:
            type: string
            default: me
        - name: keyPairId
          in: path
          description: The identifier of the key pair to turn on.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CseKeyPair"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://www.googleapis.com/auth/gmail.settings.basic
            - https://www.googleapis.com/auth/gmail.settings.sharing
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnableCseKeyPairRequest"
        required: true
  /gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:
    get:
      operationId: users.settings.cse.keypairs.gmail.users.settings.cse.keypairs.get
      description: Retrieves an existing client-side encryption key pair.
      parameters:
        - name: userId
          in: path
          description: The requester's primary email address. To indicate the
            authenticated user, you can use the special value `me`.
          required: true
          schema:
            type: string
            default: me
        - name: keyPairId
          in: path
          description: The identifier of the key pair to retrieve.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CseKeyPair"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
            - https://www.googleapis.com/auth/gmail.settings.basic
            - https://www.googleapis.com/auth/gmail.settings.sharing
  /gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:obliterate:
    post:
      operationId: users.settings.cse.keypairs.gmail.users.settings.cse.keypairs.obliterate
      description: Deletes a client-side encryption key pair permanently and
        immediately. You can only permanently delete key pairs that have been
        turned off for more than 30 days. To turn off a key pair, use the
        DisableCseKeyPair method. Gmail can't restore or decrypt any messages
        that were encrypted by an obliterated key. Authenticated users and
        Google Workspace administrators lose access to reading the encrypted
        messages.
      parameters:
        - name: userId
          in: path
          description: The requester's primary email address. To indicate the
            authenticated user, you can use the special value `me`.
          required: true
          schema:
            type: string
            default: me
        - name: keyPairId
          in: path
          description: The identifier of the key pair to obliterate.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://www.googleapis.com/auth/gmail.settings.basic
            - https://www.googleapis.com/auth/gmail.settings.sharing
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ObliterateCseKeyPairRequest"
        required: true
  /gmail/v1/users/{userId}/settings/filters:
    get:
      operationId: users.settings.filters.gmail.users.settings.filters.list
      description: Lists the message filters of a Gmail user.
      parameters:
        - name: userId
          in: path
          description: User's email address. The special value "me" can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListFiltersResponse"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
            - https://www.googleapis.com/auth/gmail.settings.basic
    post:
      operationId: users.settings.filters.gmail.users.settings.filters.create
      description: "Creates a filter. Note: you can only create a maximum of 1,000 filters."
      parameters:
        - name: userId
          in: path
          description: User's email address. The special value "me" can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Filter"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://www.googleapis.com/auth/gmail.settings.basic
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Filter"
        required: true
  /gmail/v1/users/{userId}/settings/filters/{id}:
    get:
      operationId: users.settings.filters.gmail.users.settings.filters.get
      description: Gets a filter.
      parameters:
        - name: userId
          in: path
          description: User's email address. The special value "me" can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
        - name: id
          in: path
          description: The ID of the filter to be fetched.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Filter"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
            - https://www.googleapis.com/auth/gmail.settings.basic
    delete:
      operationId: users.settings.filters.gmail.users.settings.filters.delete
      description: Immediately and permanently deletes the specified filter.
      parameters:
        - name: userId
          in: path
          description: User's email address. The special value "me" can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
        - name: id
          in: path
          description: The ID of the filter to be deleted.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://www.googleapis.com/auth/gmail.settings.basic
  /gmail/v1/users/{userId}/settings/forwardingAddresses:
    get:
      operationId: users.settings.forwardingAddresses.gmail.users.settings.forwardingAddresses.list
      description: Lists the forwarding addresses for the specified account.
      parameters:
        - name: userId
          in: path
          description: User's email address. The special value "me" can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListForwardingAddressesResponse"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
            - https://www.googleapis.com/auth/gmail.settings.basic
    post:
      operationId: users.settings.forwardingAddresses.gmail.users.settings.forwardingAddresses.create
      description: Creates a forwarding address. If ownership verification is
        required, a message will be sent to the recipient and the resource's
        verification status will be set to `pending`; otherwise, the resource
        will be created with verification status set to `accepted`. This method
        is only available to service account clients that have been delegated
        domain-wide authority.
      parameters:
        - name: userId
          in: path
          description: User's email address. The special value "me" can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForwardingAddress"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://www.googleapis.com/auth/gmail.settings.sharing
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ForwardingAddress"
        required: true
  /gmail/v1/users/{userId}/settings/forwardingAddresses/{forwardingEmail}:
    get:
      operationId: users.settings.forwardingAddresses.gmail.users.settings.forwardingAddresses.get
      description: Gets the specified forwarding address.
      parameters:
        - name: userId
          in: path
          description: User's email address. The special value "me" can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
        - name: forwardingEmail
          in: path
          description: The forwarding address to be retrieved.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForwardingAddress"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
            - https://www.googleapis.com/auth/gmail.settings.basic
    delete:
      operationId: users.settings.forwardingAddresses.gmail.users.settings.forwardingAddresses.delete
      description: Deletes the specified forwarding address and revokes any
        verification that may have been required. This method is only available
        to service account clients that have been delegated domain-wide
        authority.
      parameters:
        - name: userId
          in: path
          description: User's email address. The special value "me" can be used to
            indicate the authenticated user.
          required: true
          schema:
            type: string
            default: me
        - name: forwardingEmail
          in: path
          description: The forwarding address to be deleted.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      security:
        - OAuth2:
            - https://www.googleapis.com/auth/gmail.settings.sharing
  /gmail/v1/users/{userId}/settings/delegates:
    get:
      operationId: users.settings.delegates.gmail.users.settings.delegates.list
      description: Lists the delegates for the specified account. This method is only
        available to service account clients that have been delegated
        domain-wide authority.
      parameters:
        - name: userId
          in: path
          description: User's email address. The special value "me" can be used to
            indicate the authenticated user.
          required: true
          schema:
[...]
